<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Webentwicklung mit node.js - Web-Hacking</title>

        <meta name="author" content="peerigon">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../../assets/reveal.js/css/reveal.min.css">
        <link rel="stylesheet" href="../../assets/reveal.js/css/theme/sky.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="../../assets/reveal.js/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="../../assets/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <style type="text/css">
            .reveal section .no-border {
                background: transparent;
                border: 0;
                box-shadow: 0 0 0;
            }

            .reveal h2 {
                line-height: 1.2em;
            }

            h1, h2, h3, h4, h5, h6 {
                text-rendering: optimizeLegibility;
            }
        </style>

        <!--[if lt IE 9]>
        <script src="../../assets/reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <small style="padding: 10px;">
                Webentwicklung mit node.js<br/>
                HS Augsburg
            </small>

            <small style="padding: 10px; float: right; text-align: right;">
                Web-Hacking<br/>06.11.2013
            </small>

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">

                <section>
                    <h2>Web-Hacking</h2>
                </section>

                <section>
                    <section>
                        <h3>Einfacher HTTP-Server in node.js</h3>
<pre><code contenteditable>var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello World\n');
}).listen(1337, '127.0.0.1');
console.log('Server running at http://127.0.0.1:1337/');</code></pre>
                        <p>
                            Kompaktes Beispiel von http://nodejs.org/
                        </p>
                    </section>
                    <section>
<pre><code contenteditable>var http = require("http"),
    server;

// 1. Erzeugt neue Server-Instanz
server = http.createServer();

// 2. Event-Handler hinzufügen
server.on("request", function onRequest(req, res) {

    // 4. Request beantworten
    res.writeHead(200, {"Content-Type": "text/plain"});
    res.end("Hello World\n");

});

// 3. Bindet den Server an einen bestimmten Port und Host
server.listen(1337, "127.0.0.1");</code></pre>
                    </section>

                    <section>
                        <h3>Vergleich</h3>
                        <h4>PHP</h4>
<pre><code contenteditable>&lt;?php echo "Hello World";</code></pre>
                        <h4>node.js</h4>
<pre><code contenteditable>var http = require('http');
http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello World\n');
}).listen(1337, '127.0.0.1');
console.log('Server running at http://127.0.0.1:1337/');</code></pre>
                    </section>
                    <section>
                        <h4>Request-Flow in PHP</h4>
                        <img src="img/php.svg" class="no-border">
                    </section>
                    <section>
                        <h4>Request-Flow in PHP</h4>
                        <ul>
                            <li>Pro TCP-Verbindung startet Apache einen eigenen Thread</li>
                            <li>Pro Request führt der PHP-Interpreter ein Skript aus</li>
                            <li>Ein Skript ist stateless, es kann sich keine Zustände merken</li>
                        </ul>
                    </section>
                    <section>
                        <h4>Request-Flow in node.js</h4>
                        <img src="img/nodejs.svg" class="no-border">
                    </section>
                    <section>
                        <h4>Request-Flow in node.js</h4>
                        <ul>
                            <li>Alle TCP-Verbindung werden an einen node-Prozess weitergereicht</li>
                            <li>Pro HTTP-Request emittet node einen Event</li>
                            <li>D.h. eure Anwendung ist ein Prozess, der sich Zustände merken kann</li>
                        </ul>
                    </section>
                    <section>
                        <h4>Beispiel: ViewCounter</h4>
<pre><code contenteditable>var views = 0;

http.createServer(function onRequest(req, res) {

    res.writeHead(200, {"Content-Type": "text/plain"});
    res.end("Views: " + (++views));

}).listen(1337, "127.0.0.1");</code></pre>
                    </section>
                    <section>
                        <h4>Beispiel: BlockingServer</h4>
<pre><code contenteditable>server.on("request", function onRequest(req, res) {
    var result = 0,
        i;

    for (i = 0; i < 10000000000; i++) {
        result += i;
    }

    res.writeHead(200, {"Content-Type": "text/plain"});
    res.end("Result: " + i);

});</code></pre>
                    </section>
                    <section>
                        <h4>Zusammenfassung</h4>
                        <ul>
                            <li class="fragment">Eure node-Anwendung ist ein Prozess</li>
                            <li class="fragment">node lässt dem Programmierer viel Spielraum</li>
                            <li class="fragment">Mit großer Freiheit kommt große Verantwortung</li>
                            <li class="fragment">Keine synchronen Routinen innerhalb des Request-Flows</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>req / res</h3>
<pre><code contenteditable>server.on("request", function onRequest(req, res) {

});</code></pre>
                    </section>

                    <section>
                        <h4>Req(uest)</h4>
                        <ul class="fragment">
                            <li>Instanz von <a href="http://nodejs.org/api/http.html#http_http_incomingmessage" target="_blank">http.IncomingMessage</a></li>
                            <li>ist ein <a href="http://nodejs.org/api/stream.html#stream_class_stream_readable" target="_blank">ReadableStream</a></li>
                            <li><code>req.method</code> entspricht der HTTP-Methode</li>
                            <li><code>req.url</code> dem angefragten Pfad</li>
                            <li><code>req.headers</code> beinhaltet die mitgeschickten HTTP-Headers</li>
                            <li><code>require("url")</code> bietet Tools zum URL-Parsen</li>
                            <li><a href="http://nodejs.org/api/http.html#http_http_incomingmessage" target="_blank">http://nodejs.org/api/http.html#http_http_incomingmessage</a></li>
                        </ul>
                    </section>

                    <section>
                        <h4>Res(ponse)</h4>
                        <ul class="fragment">
                            <li>Instanz von <a href="http://nodejs.org/api/http.html#http_class_http_serverresponse" target="_blank">http.ServerResponse</a></li>
                            <li>ist ein <a href="http://nodejs.org/api/stream.html#stream_class_stream_writable" target="_blank">WritableStream</a></li>
                            <li><code>res.statusCode</code> setzt den HTTP-Statuscode</li>
                            <li><code>res.setHeader(header, value)</code> setzt HTTP-Headers</li>
                            <li><code>res.write(data)</code> schickt Daten, danach können keine Headers mehr gesetzt werden</li>
                            <li><code>res.end()</code> beendet die Response</li>
                            <li><a href="http://nodejs.org/api/http.html#http_class_http_serverresponse" target="_blank">http://nodejs.org/api/http.html#http_class_http_serverresponse</a></li>
                        </ul>
                    </section>

                    <section>
                        <h4>Beispiel: NumberStream</h4>
<pre><code contenteditable>server.on("request", function onRequest(req, res) {
    var num = 0;

    setInterval(function writeNumber() {
        res.write(String(num++));
        console.log(num);
    }, 10);

});</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel: EchoStream</h4>
<pre><code contenteditable>server.on("request", function onRequest(req, res) {

    req.pipe(res);

});</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel: ImageStream</h4>
<pre><code contenteditable>server.on("request", function onRequest(req, res) {

    fs.createReadStream(imgFile).pipe(res);

});</code></pre>
                    </section>

                    <section>
                        <h4>Wie gehts weiter?</h4>
                        <div class="fragment">
<pre><code contenteditable>server.on("request", function onRequest(req, res) {

    if (req.path === "/home") {
        fs.createReadStream("home.html").pipe(res);
    } else if (req.path === "/about") {
        fs.createReadStream("about.html").pipe(res);
    } else if (req.path === "/blog") {
        fs.createReadStream("blog.html").pipe(res);
    } else {
        res.statusCode = 404;
        res.end();
    }

});</code></pre>
                            <h2>?</h2>
                        </div>
                    </section>
                </section>

                <section>
                    <section>
                        <h3>connect</h3>
                        <p>
                            <a href="http://www.senchalabs.org/connect/" target="_blank">http://www.senchalabs.org/connect/</a>
                        </p>
                        <ul>
                            <li class="fragment">übernimmt das Routing von Requests</li>
                            <li class="fragment">sog. Middlewares kümmern sich dabei jeweils um eine Aufgabe</li>
                            <li class="fragment">liefert 18 Standard-Middlewares für typische Aufgaben</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Beispiel 1: Request-Logger</h4>
                        <img src="img/screenshot-logger.gif">
                        <p>
                            Wir möchten einen Logger bauen, der alle eingehenden Requests in die Console loggt.
                        </p>
                    </section>

                    <section>
                        <h4>Beispiel 1: Request-Logger</h4>
<pre class="fragment"><code contenteditable>function logger(req, res, next) {

    console.log("%s %s", req.method, req.url);
    next();

})</code></pre>
<pre class="fragment"><code contenteditable>var connect = require("connect");

connect()
    .use(logger)
    .listen(1337);</code></pre>
                    </section>

                    <section>
                        <h4>Middleware</h4>
                        <ul>
                            <li class="fragment">wird von connect mit <code>req, res, next</code> aufgerufen</li>
                            <li class="fragment">kümmert sich um genau eine Sache</li>
                            <li class="fragment">ruft die nächste Middleware mit <code>next()</code> auf</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Middleware</h4>
                        <img src="img/middlewares.svg" class="no-border">
                    </section>

                    <section>
                        <h4>Beispiel 2: Static-File-Server</h4>
<pre><code contenteditable>function fileServer(req, res, next) {
    var path = __dirname + req.url;

    fs.exists(path, function onPathExists(result) {
        if (!result) {
            res.statusCode = 404;
            res.end("404 - Not found");
            return;
        }

        res.statusCode = 200;
        fs.createReadStream(path).pipe(res);
    });
}</code></pre>
<pre class="fragment"><code contenteditable>connect()
    .use(logger)
    .use(fileServer)
    .listen(1337);</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel 2: Static-File-Server</h4>
<pre><code contenteditable>function fileServer(root) {
    return function fileServer(req, res, next) {
        var path = root + req.url;

        fs.exists(path, function onPathExists(result) {
            if (!result) {
                res.statusCode = 404;
                res.end("404 - Not found");
                return;
            }

            res.statusCode = 200;
            fs.createReadStream(path).pipe(res);
        });
    }
}</code></pre>
<pre class="fragment"><code contenteditable>connect()
    .use(logger)
    .use(fileServer(__dirname))
    .listen(1337);</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel 2: Static-File-Server</h4>
<pre><code contenteditable>connect()
    .use(logger)
    .use("/assets", fileServer(__dirname + "/assets"))
    .listen(1337);</code></pre>
                    </section>

                    <section>
                        <h4>.use()</h4>
                        <ul>
                            <li class="fragment">aktiviert die übergebene Middleware</li>
                            <li class="fragment"><code>use(route, middleware)</code> aktiviert die Middleware nur für die angegebene Route</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Beispiel 3: Error-Handling</h4>
                        <p>
                            Problem: Wir möchten eine E-mail verschicken, wenn in irgendeiner Middleware ein Fehler aufgetreten ist
                        </p>
<pre class="fragment"><code contenteditable>function fileServer(root) {
    return function fileServer(req, res, next) {
        var path = root + req.url;

        fs.exists(path, function onPathExists(result) {
            if (!result) {
                res.statusCode = 404;
                res.end("404 - Not found");
                return;
            }

            res.statusCode = 200;
            fs.createReadStream(path).pipe(res);
        });
    }
}</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel 3: Error-Handling</h4>
<pre><code contenteditable>function fileServer(root) {
    return function fileServer(req, res, next) {
        var path = root + req.url;

        fs.exists(path, function onPathExists(result) {
            if (!result) {
                res.statusCode = 404;
                next(new Error("404 - Not Found"));
                return;
            }

            res.statusCode = 200;
            fs.createReadStream(path).pipe(res);
        });
    }
}</code></pre>
                    </section>

                    <section>
                        <h4>Beispiel 3: Error-Handling</h4>
<pre><code contenteditable>function errorHandler(err, req, res, next) {
    sendMail(err, "johannes.ewald@peerigon.com");
    res.end(err.message);
}</code></pre>
<pre class="fragment"><code contenteditable>connect()
    .use(logger)
    .use("/assets", fileServer(__dirname + "/assets"))
    .use(errorHandler)
    .listen(1337);</code></pre>
                    </section>

                    <section>
                        <h4>Error-Handling</h4>
                        <ul>
                            <li class="fragment"><code>next(err)</code> bricht den normalen Middleware-Flow ab und ruft den ersten Error-Handler auf</li>
                            <li class="fragment">eine Error-Handler ist eine Middleware, die <code>err, req, res, next</code> akzeptiert</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Built-in middlewares</h4>
<pre><code contenteditable>connect()
    .use(connect.logger())
    .use(connect.cookieParser())
    .use(connect.session({
        secret: "keyboard cat",
        key: "sid",
        cookie: {
            secure: true
        }
    })
    .use(connect.bodyParser())
    .use(connect.compress())
    .use(connect.static(__dirname + '/public', { maxAge: oneDay }))
    .use(connect.errorHandler())
    .listen(1337);</code></pre>
                        <p>
                            Und weitere auf: <a href="http://www.senchalabs.org/connect/" target="_blank">http://www.senchalabs.org/connect/</a>
                        </p>
                    </section>
                </section>

                <section>
                    <section>
                        <img src="img/express.png" class="no-border">
                    </section>

                    <section>
                        <h2>Express</h2>
                       <p>
                           <a href="http://www.senchalabs.org/connect/" target="_blank">http://www.senchalabs.org/connect/</a>
                       </p>
                        <ul>
                            <li>basiert auf connect</li>
                            <li>+ Komfortfunktionen</li>
                            <li>+ erweiterte Request und Response Objekte</li>
                            <li>+ View Rendering</li>
                        </ul>
                    </section>

            <section>
    <pre><code>//connect
var app = connect();

//handler für alle requests
app.use(function(req, res){
    res.end('hello world\n');
})
.listen(3000);</code></pre>
<pre><code>//express
var app = express();

//handler für GET requests
app.get('/', function(req, res){
    //convenience methode .send
    res.send('hello world');
})
.listen(3000);</code></pre>
            </section>

            <section>
                <h2>Method-Routing</h2>
<pre><code>function printMethod(req, res, next) {
    res.send(req.method + ' Request received');
}</code></pre>
<pre><code>app.get('/', printMethod);  //GET requests</code></pre>
<div class="fragment">
    <p><strong> => GET http://localhost:3000</strong></p>
<pre><code>GET Request received</code></pre>
</div>
<pre class="fragment"><code>app.post('/', printMethod); //POST requests</code></pre>
<div class="fragment">
    <p><strong> => POST http://localhost:3000</strong></p>
<pre><code>POST Request received</code></pre>
</div>
<pre class="fragment"><code>app.all('/*', function(req, res, next) {
    res.send(req.method + " handled by all route");
 });</code></pre>
<div class="fragment">
    <p><strong> => PUT http://localhost:3000</strong></p>
<pre><code>PUT handled by all-route</code></pre>
</div>
 </section>
<section>
    <h2>Parameter in Routen</h2>
<pre><code>//:param steht für einen parameter
//parameter werden an req.params angehängt
app.get('/user/:id/format/:format', function(req, res, next){
    res.send("User(" + req.params.id + ") as " + req.params.format);
});</code></pre>
<div class="fragment">
    <p><strong> => http://localhost:3000/user/2/json</strong></p>
    <pre><code>User(2) as json</code></pre>
</div>
<div class="fragment">
    <p><strong> => http://localhost:3000/user/1/pdf</strong></p>
<pre><code>User(1) as pdf</code></pre>
</div>
<div class="fragment">
    <p><strong> => http://localhost:3000/user/1</strong></p>
<pre><code>Cannot GET /user/1</code></pre>
    <p style="color:red;">:format ist NICHT optional</p>
</div>

</section>

<section>
    <h2>Optionale Parameter</h2>
<pre><code>
//format ist optional
app.get("/user/:id/:format?", function(req, res, next){

    res.write("User(" + req.params.id + ")");

    //req.params.format is undefined falls nicht gesetzt
    if(req.params.format) {
        res.write("Format: " + req.params.format);
    }

    res.end();
});</code></pre>

<div class="fragment">
    <p><strong> => http://localhost:3000/user/1/pdf</strong></p>
<pre><code>User(1) Format: json</code></pre>
</div>

<div class="fragment">
    <p><strong> => http://localhost:3000/user/1</strong></p>
<pre><code>User(1)</code></pre>
    </div>
</section>

<section>
<h2>Routen Reihenfolge</h2>
<pre><code>//Falsche Reihenfolge
app.get("*", function(req, res) {
    res.send("handled by * route");
});

app.get("/monsters", function(req, res) {
    res.send("handled by monsters route");
});
</code></pre>

<div class="fragment">
    <p><strong> => http://localhost:3000/whatever</strong></p>
<pre><code>handled by * route</code></pre>
</div>

<div class="fragment">
    <p><strong> => http://localhost:3000/monsters</strong></p>
<pre><code>handled by * route</code></pre>
</div>

<p class="fragment" style="color:red;">Die "*" Route wurde zuerst definiert und greift auf alle Routen.</p>

</section>

<section>
<h2>Routen Reihenfolge</h2>
<pre><code>//Richtige Reihenfolge
app.get("/monsters", function(req, res) {
    res.send("handled by exact monsters route");
});

app.get("/monsters/*", function(req, res) {
    res.send("handled by monsters sub-route");
});

app.get("*", function(req, res) {
    res.send("handled by * route");
});
</code></pre>

<div class="fragment">
    <p><strong> => http://localhost:3000/whatever</strong></p>
<pre><code>handled by * route</code></pre>
</div>

<div class="fragment">
    <p><strong> => http://localhost:3000/monsters</strong></p>
<pre><code>handled by monsters route</code></pre>
</div>

<div class="fragment">
    <p><strong> => http://localhost:3000/monsters/whatever</strong></p>
<pre><code>handled by monsters sub-route</code></pre>
</div>

</section>

<section>
    <h2>Routen - Zusammenfassung</h2>
    <ul>
        <li><strong>:name</strong> - definiert einen Parameter</li>
        <li><strong>:name?</strong> - definiert einen optionalen Parameter</li>
        <li><strong>*</strong> steht für Wildcard und greift auf alle Unterrouten</li>
        <li>Reihenfolge der Routendefinition ist wichtig</li>
        <li>Zuerst definierte Routen greifen auch zuerst</li>
        <li><strong>Definition:</strong> von genauen Routen hin zu ungenaueren Routen</li>
    </ul>
</section>

<section>
<h2>Parameter Middleware</h2>
<pre><code>//springt immer an wenn :monster in einer route definiert ist
var monsters = [{
    name : "Godzilla",
    age : 500
}];

app.param('monster', function loadMonster(req, res, next, id){
    req.monster = monsters[id];
    next();
});

app.get("/monster/:monster", function(req, res, next) {
    //die monster-param middleware wurde automatisch ausgeführt
    //wir können also direkt auf req.monster zugreifen
    res.send(req.monster.name + " aged " + req.monster.age);
});</code></pre>
    <div class="fragment">
        <p><strong> => http://localhost:3000/monster/0</strong></p>
    <pre><code>Godzilla aged 5000</code></pre>
</section>

    <section>
        <h2>Rendering</h2>
<pre class="fragment"><code>//monster.ejs

&lt;h2&gt;<%= name  %>&lt;/h2&gt;
&lt;p&gt;is <%= age %> years old.&lt;/p&gt;</code></pre>
    <pre class="fragment"><code>res.render('monster.ejs', { name : "Gozilla", age : 3000 });</code></pre>
<pre class="fragment"><code>//->rendered

&lt;h2&gt;Godzilla&lt;/h2&gt;
&lt;p&gt;is 300 years old.&lt;/p&gt;
</code></pre>
    </section>

            <section>
                <h2>Rendering</h2>
<pre><code>&lt;ul&gt
    <% results.forEach(function(result, idx){ %>
        &lt;li&gt Fight <%= idx+1 %> - <%= result %>&lt;/li&gt
     <% }) %>
&lt;/ul&gt</code></pre>
                <ul>
                    <li>Unbuffered code for conditionals etc <code><% code %></code></li>
                    <li>Escapes html by default with <code><%= code %></code></li>
                    <li>Unescaped buffering with <code><%- code %></code></li>
                </ul>
                <br><br>
                <p><a href="https://github.com/visionmedia/ejs">https://github.com/visionmedia/ejs</a> <br>
                Auch andere Renderer möglich (ejs, stylus, jade, etc.)</p>
            </section>
        </section>

        <section>
            <section>
                <h2>Websockets mit socket.io</h2>
            </section>

            <section>
<pre><code>//Server
io.sockets.on('connection', function (socket) {

    //event an den client emitten
    socket.emit('growl', { name : "godziii", growl : 'BOOOARR' });

    //auf events hören, die der client emitted
    socket.on('growlBack', function (data) {
        console.log(data.name + " growled back with " + data.growl);
    });
});</code></pre>

<pre class="fragment"><code>//Client
var socket = io.connect('http://localhost:3000');

function growlBack(socket) {
    //wir emitten an den server
    socket.emit('growlBack', { name : "kingokongo", growl : "UGA-UGA!" });
}

//wir hören auf "growl" events vom server
socket.on('growl', function (data) {

    alert(data.name + " growled from the server: " + data.growl);

    //nach 3 Sekunden brüllen wir zurück!
    setTimeout(growlBack(socket), 3000);
});</code></pre>

</section>
<section>
    <h2>Websockets</h2>
    <ul>
        <li>bidirektionale Verbindung zwischen Client & Server</li>
        <li>stehende Verbindung</li>
        <li>Server/Client-übergreifender EventEmitter</li>
        <li>Grundlage für Realtime/Push</li>
    </ul>
</section>

<section>
    <h2>socket.io</h2>
    <ul>
        <li>Abstraction-Layer für Websockets</li>
        <li>kümmert sich um den Transport der Daten</li>
        <li>sorgt für Kompatibilität mit älteren Browsern</li>
        <li>bietet Fallbacks zu Flash-Sockets, Polling, etc.</li>
        <li>ermöglicht Multiplexing (viele Clients über einen Port)</li>
        <li>+Komfortfunktionen</li>
    </ul>
</section>
</section>
</div>

</div>

<script src="../../assets/reveal.js/lib/js/head.min.js"></script>
<script src="../../assets/reveal.js/js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: '../../assets/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../../assets/reveal.js/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../../assets/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../../assets/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../../assets/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: '../../assets/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: '../../assets/reveal.js/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
            // { src: '../../assets/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

</body>
</html>
